#calculator {
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    height: 250px;
    border-style:solid;
    border-width: 2px;
    border-color:black;
    background: black;
    
}           

#screen {
    color: greenyellow;
    background: black;
    background: linear-gradient(45deg, rgb(20, 10, 24), 20%, rgb(06, 33, 7), 10%);
    align-content:baseline;
    justify-content: right;
    width: 100%;
    height: 20%;
}

#numPad {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    height: 60%;
    padding-top: 2px;
    background:#b45905;
    justify-content: space-around;
    font-size: 32px;
    text-align: center;
}

#one {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#two {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#three {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#four {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#five {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#six {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#seven {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#eight {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#nine {
    width: 27%;
    height: 27%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#operations {
    width: 24%;
    height: 60%;
    border:1px solid #0a6f97;
    background:#0a6f97;
    font-size: 23px;
    text-align: center;
}

#clear {
    width: 44px;
    height: 28px;
    border:1px solid #0a6f97;
    background: #379aa7;
}

#add {
   width: 44px;
    height: 28px;
    border:1px solid #0a6f97;
    background: #379aa7;
}


#subtract {
    width: 44px;
    height: 28px;
    border:1px solid #0a6f97;
    background: #379aa7;
}
#multiply {
   width: 44px;
    height: 28px;
    border:1px solid #0a6f97;
    background: #379aa7;
}
#divide {
    width: 44px;
    height: 28px;
    border:1px solid #0a6f97;
    background: #379aa7;
}
.corner {
    display: flex;
    flex-flow: row nowrap;
    width: 48%;
    height: 18%;
     background:#b45905;
     border: 2px solid#b45905;
  
     font-size: 40px;
    justify-content:space-around;
    text-align: center;
}
#zero {
    width: 46%;
    height: 96%;
    border: 1px solid#b45905;
    background:#e78c38;
}
#decimal {
    width: 46%;
    height: 96%;
    border: 1px solid#b45905;
    background:#e78c38;
}

#equals {
    width: 48%;
    height: 18%;
    border: 2px solid  #0c6309;
    background: #37a73d;
    text-shadow: #0c6309;
}
#sign {
    position: absolute;
    font-size: 40px;
    text-align: center;
    width: 96px;
    height: 40px;
  }